<%= form_for([:admin, @exam], :html => {:class => "form-horizontal"}) do |f| %>

	<%= render "shared/errors_messages", :object => @exam %>

	<div class="control-group">
		<%= f.label :title, "Nome da avaliação", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :title, :class => "input-xlarge" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :start_date, "Agendar avaliação para", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :start_date, :class => "input-xlarge datepicker" %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label :duration, "Duração", :class => "control-label" %>
		<div class="controls">
				<%= 
					f.select :duration, 
					options_for_select(Exam::DURATION_OPTIONS, @exam.duration),
					{:prompt => "--"}, 
					{:class => "span1"}
				%>
				<span class="inline">hora(s)</span>
		</div>
	</div>
	
	<div class="control-group">
		<%= hidden_field_tag "exam[group_ids][]", nil %>
		<label class="control-label">Grupos que acessam</label>
		<div class="controls">
			<% Group.all.each do |group| %>
				<label class="checkbox">
					<%= check_box_tag "exam[group_ids][]", group.id, @exam.group_ids.include?(group.id) %>
					<%= group.name %>
				</label>
			<% end %>
		</div>
	</div>
		
	<%= f.fields_for :questions do |question| %>
		<%= render "question_fields", :builder => question %>
	<% end %>

	<div class="control-group">
		<div class="controls">
			<%= link_to_add_fields "Adicionar questão", f, :questions, :class => "btn btn-info" %>
		</div>
	</div>

  <div class="form-actions">
    <%= f.submit "Salvar", :class => "btn btn-primary" %>
  </div>	
<% end %>