<fieldset class="question">
	<legend>Questão (<%= link_to_function "remover questão", "remove_question(this)" %>)</legend>

<div class="control-group">
	<%= builder.label :title, "Pergunta", :class => "control-label" %>
	<div class="controls">
		<%= builder.hidden_field :_destroy %> 
		<%= builder.text_area :title, :class => "input-xlarge span9", :rows => 6 %>
	</div>
</div> 

		<%= builder.fields_for :answers do |answer| %>
			<%= render "answer_fields", :builder => answer %>
		<% end %>
	
	<div class="control-group">
		<div class="controls">
			<%= link_to_add_fields "Adicionar alternativa", builder, :answers, :class => "btn btn-success" %>	
		</div>
	</div>
	
</fieldset>