<%= form_for([:admin, @student], :html => {:class => "form-horizontal"}) do |f| %>

	<%= render "shared/errors_messages", :object => @student %>

	<div class="control-group">
		<%= f.label :name, "Nome", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :name, :class => "input-xlarge" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :email, "E-mail", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :email, :class => "input-xlarge" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= hidden_field_tag "student[group_ids][]", nil %>
		<label class="control-label">Grupos</label>
		<div class="controls">
			<% Group.all.each do |group| %>
				<label class="checkbox">
					<%= check_box_tag "student[group_ids][]", group.id, @student.group_ids.include?(group.id) %>
					<%= group.name %>
				</label>
			<% end %>
		</div>
	</div>
		
  <div class="form-actions">
    <%= f.submit "Salvar", :class => "btn btn-primary" %>
  </div>
<% end %>
