<div class="page-header">
	<h2>Mudança de senha</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal"} ) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

	<div class="control-group">
		<%= f.label :password, "Nova senha", :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password, :class => "input-xlarge" %>
		</div>
	</div>
	
	<div class="control-group">
		<%= f.label :password_confirmation, "Confirme a nova senha", :class => "control-label" %>
		<div class="controls">
			<%= f.password_field :password_confirmation, :class => "input-xlarge" %>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
	  	<%= f.submit "Mudar senha", :class => "btn" %>
		</div>
	</div>

<% end %>

<%= render :partial => "devise/shared/links" %>



