<div class="page-header">
	<h2>Esqueceu sua senha?</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

<div class="control-group">
	<%= f.label :email, "E-mail", :class => "control-label" %>
	<div class="controls">
		<%= f.email_field :email, :class => "input-xlarge" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
  	<%= f.submit "Me envie instruções para mudança de senha", :class => "btn", :disable_with => "Aguarde..." %>
	</div>
</div>

<% end %>

<hr/>

<%= render :partial => "devise/shared/links" %>