<div class="page-header">
  <h1>Listagem de grupos</h1>
</div>

<% if @groups.present? %>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome do grupo</th>
					<th>Data da criação</th>
					<th>Opções</th>
				</tr>
			</thead>
	
			<tbody>
				<% @groups.each do |group| %>
					<% presenter group do |group_presenter| %>
					<tr>
						<td width="40%"><%= group_presenter.name %></td>
						<td width="30%"><%= group_presenter.created_at %></td>
						<td>
							<%= link_to "Editar", edit_admin_group_path(group), :class => "btn btn-info" %>
							<%= link_to "Remover", admin_group_path(group), :method => :delete, :confirm => "Tem certeza que deseja remover?", :class => "btn btn-danger" %>
						</td>
					</tr>
					<% end %>
				<% end %>
			</tbody>		
		</table>
<% else %>
<div class="alert alert-block">
	<a class="close" data-dismiss="alert">×</a>
	<p>Não existem grupos cadastrados.</p>
</div>
	
<% end %>

		<%= link_to "Criar novo grupo", new_admin_group_path, :class => "btn btn-primary" %>

