<div class="clearfix">
	<%= builder.label :title, "Alternativa" %>
	<div class="input">
	<div class="input-prepend">
		<label class="add-on <%= mark_if_selected(builder) %>">
			<%= builder.check_box :correct %>
		</label>
		
		<%= builder.hidden_field :_destroy %> 
		<%= builder.text_field :title, :class => "xlarge" %> 
		<%= link_to_function "Remover", "remove_field(this)", :class => "btn danger" %> 
	</div>
	</div>
</div> 