<%= form_for(@exam, :html => {:class => "form-horizontal"}) do |f| %>

	<%= render "shared/errors_messages", :object => @exam %>

	<div class="control-group">
		<%= f.label :title, "Nome da avaliação", :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :title, :class => "input-xlarge" %>
		</div>
	</div>

	<%= f.fields_for :questions do |question| %>
		<%= render "question_fields", :builder => question %>
	<% end %>

	<div class="control-group">
		<div class="controls">
			<%= link_to_add_fields "Adicionar questão", f, :questions, :class => "btn btn-info" %>
		</div>
	</div>

  <div class="form-actions">
    <%= f.submit "Salvar", :class => "btn btn-primary" %>
  </div>	
<% end %>