<!DOCTYPE html>
<html>
<head>
  <title>Administração do evento</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<style>
	html, body {
	  background-color: #eee;
	}
	body {
	  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	}
	.container > footer p {
	  text-align: center; /* center align it with the container */
	}

	/* The white background content wrapper */
	.content {
	  background-color: #fff;
	  padding: 20px;
	  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	  -webkit-border-radius: 0 0 6px 6px;
	     -moz-border-radius: 0 0 6px 6px;
	          border-radius: 0 0 6px 6px;
	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	          box-shadow: 0 1px 2px rgba(0,0,0,.15);
	}

	/* Page header tweaks */
	.page-header {
	  background-color: #f5f5f5;
	  padding: 20px 20px 10px;
	  margin: -20px -20px 20px;
	}

</style>
</head>
<body>

 <div class="topbar">
      <div class="fill">
        <div class="container">
					<%= link_to "Alternativa Admin", root_path, :class => "brand" %>
          <ul class="nav">
            <li class="active"><a href="#">Avaliações</a></li>
            <!-- <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
          <form action="" class="pull-right">
                      <button class="btn danger" type="submit">Log out</button>
                    </form>
        </div>
      </div>
    </div>

		<div class="clear"></div>

    <div class="container">

      <div class="content">
       	<%= yield %>
      </div>

      <footer>
        <p>&copy; Alternativa 2011</p>
      </footer>

    </div> <!-- /container -->

		<%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>

</body>
</html>
