<!DOCTYPE html>
<html>
<head>
  <title>Administração do evento</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<style>
	html, body {
	  background-color: #eee;
	}
	body {
	  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	}
	.container > footer p {
		margin: 5px auto;
	  text-align: center; /* center align it with the container */
	}

	/* The white background content wrapper */
	.content {
	  background-color: #fff;
	  padding: 20px;
	  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	  -webkit-border-radius: 0 0 6px 6px;
	     -moz-border-radius: 0 0 6px 6px;
	          border-radius: 0 0 6px 6px;
	  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	          box-shadow: 0 1px 2px rgba(0,0,0,.15);
	}

	/* Page header tweaks */
	.page-header {
	  padding: 20px 20px 10px;
	  margin: -20px -20px 20px;
	}

</style>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "Alternativa", root_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Avaliações", root_path %></li>
            <li></li>
          </ul>
					<% if current_user.present? %>
					<p class="pull-right">
						<%= link_to "Logout", destroy_user_session_path, :class => "btn btn-danger pull-right", :method => :delete  %>
					</p>
					<% end %>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="content">
			<%= flash_messages %>
     	<%= yield %>
    </div>

    <footer>
      <p>&copy; Alternativa 2012</p>
    </footer>

  </div> <!-- /container -->

	<%= yield :custom_javascript %>
	<%= javascript_tag '$.fx.off = true;' if Rails.env.test? %>

</body>
</html>
